run.properties

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/classes

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

.setup-heroku